header{
background-color: black;
padding: 0%; 
margin-top: 0%;
}

main{
    background-color: black;
}
header img{
    width: 100%;
    height: 100%;   
}
header p {
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    font-size: large;
    margin: 0;
    margin-bottom: ;
    width: 100%;
    height: 20%

}
.color{
    background-color: rgb(0, 0, 0);
    padding-top: -10px;
}
main img{
    width: 100%;
    height: 100%;
}

.letras
{
        text-align: center;
        position: absolute;
        font-size: 2rem;
        font-family: 'Manjari', sans-serif;
        top: 230%;
        left: 1%;
        transform: translate(-50% -50%);
        color: rgb(255, 255, 255);
        font-size: large;
        width: auto;
    
}
section{
    background-color: black;
}

h2{
    font-family: 'Manjari', sans-serif;
    text-align: center;
    color: rgb(253, 253, 253);
}
footer{
    background-color: rgb(24, 24, 24);
    height: 100%;
    padding: 1px;
}
.parrafo {
    text-align: center;
    color: beige;
}
main p{
    color: white;
    font-size: 1rem;
    font-family: 'Manjari', sans-serif;
}
